.footerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Set the background color */
    border-radius: 8px; /* Optional: add border-radius for rounded corners */
    padding: 10px; /* Optional: add padding inside the box */
    margin: 10px 0; /* Optional: margin for spacing */
}

.footerImage {
    width: 40%; /* Set image width */
    height: auto; /* Maintain aspect ratio */
    margin: 0 5px; /* Space between images */
}

.footerImageFull {
    width: 100%; /* Full width for the last image */
    height: auto; /* Maintain aspect ratio */
}
