/* Home Page Styles */
.home {
    position: relative;
    width: 100vw;
    height: auto; /* Adjust height based on content */
    background-color: var(--color-prime);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Section Styles */
.section {
    background-color: white;
    width: 80vw;
    margin: 0 auto; /* Center section horizontally */
    position: relative;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    bottom: 2rem;
    z-index: 5; /* Lower z-index so it appears behind the text */
    overflow: hidden;
    margin-bottom: 20px; /* Add margin to separate from carousel */
}

.searchWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchText {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px; /* Add space below the text */
}

.cardDeck {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Ensure wrapping on smaller screens */
    width: 100%;
}

.card {
    flex: 1 1 15%; /* Adjust width of each card */
    max-width: 150px; /* Ensure they don't get too large */
    margin: 10px;
}

.cardImage {
    width: 100%; /* Ensure image fits inside the card */
    height: auto;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .section {
        width: 90vw;
    }
}

@media (max-width: 767px) {
    .home {
        height: auto; /* Allow height to adjust based on content */
    }

    .section {
        width: 95vw; /* Full width with small margins */
    }

    .cardDeck {
        justify-content: center; /* Center cards on smaller screens */
    }

    .card {
        max-width: 120px; /* Reduce card size on smaller screens */
    }
}
